table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr.selected {
  background-color: #ffff99;
}
.table-header-horizontal thead th {
  background-color: #f2f2f2;
  font-weight: bold;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}
img {
    background-size: cover;
    background-position: top center;
    width: 120px;
    height: 50px;
}
button {
  height: 50px;
  width: 100px;
  background-color: rgb(233, 21, 21);
  border: none;
  border-radius: 5px;
  
}